@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    font-family: 'Roboto', sans-serif;
    height: 100vh
}

::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0;
    background-color: #ff80ff;
  }
  
  ::-webkit-scrollbar-button:hover {
    background-color: #aaa;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.17);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(65, 64, 78, 0.7);
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #41404e;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }